.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.ipynb_checkpoints/
.obsidian/

.wiki/docs/
.wiki/index.md

node_modules/
Rust/**/target/
^snippets/
